In [2]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [5]:
full_labels = pd.read_csv('images.csv')

In [6]:
full_labels.head()

             filename  width  height    class  xmin  ymin  xmax  ymax
0  pitcher_000086.jpg    640     480  pitcher   272    96   445   352
1  pitcher_000082.jpg    640     480  pitcher   257    94   444   354
2  pitcher_000060.jpg    640     480  pitcher   217    69   447   331
3  pitcher_000167.jpg    640     480  pitcher   223   154   402   397
4  pitcher_000019.jpg    640     480  pitcher   249    90   428   351

In [13]:
grouped = full_labels.groupby('filename')
grouped.apply(lambda x: len(x)).value_counts()
gb = full_labels.groupby('filename')
grouped_list = [gb.get_group(x) for x in gb.groups]

In [15]:
TRAINING_PERCENTAGE = 0.7

train_index = np.random.choice(len(grouped_list), size=int(TRAINING_PERCENTAGE*len(grouped_list)), replace=False)
test_index = np.setdiff1d(range(len(grouped_list)), train_index)

In [18]:
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])
len(train), len(test)

(46, 20)

In [19]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)